<?xml version="1.0" encoding="UTF-8"?>
<config.xml>
  <!-- Code tips and examples:
  *To correctly render html
       <![CDATA[yourhtmlhere]]> 
       
  *Naming
       pr = personal rating
       bt = battle amount
       wr = winrate
       
       color_pr = personal rating's related color
       color_bt = battle amount's related color
       color_wr = winrate's related color
       
       lang = client language shortcode
       flag_url = url of the right flag image( based on client language )
       rating_url_pr = url of the image related to current player's personal rating
       rating_url_bt = url of the image related to current player's battle amount
       rating_url_wr = url of the image related to current player's win rate
       
       player_name = name of current player, without clan tag
       clan_name = the tag name of clan, sorrounded by "[]"
       tank_name = the short name of current player's tank
       
  * To use macroes
       place macro's name sorrounded by {}
       {color_pr} is something like #FF0000    
       
  * Specials
  		{ifdeath_color_begin}text{ifdeath_color_end} 
  				macroes sorrounding text that will be colored to {death_font_color} 
  				in case of death tanks
  				
  		{ifcompatriot_color_begin}text{ifcompatriot_color_end} 
  				macroes sorrounding text that will be colored to {compatriot_font_color} 
  				in case of compatriots
         
  *To show flags
       <img src='{flag_url}' width='16' height='12'>
       
  *To show colored marks
        Related to winrate scale:
       <img src='{rating_url_wr}' width='16' height='12'>
        
        Related to personal rating scale:
       <img src='{rating_url_pr}' width='16' height='12'>
        
        Related to battle amount scale:
       <img src='{rating_url_bt}' width='16' height='12'>
  
  *To change font color
        Related to winrate scale:
       <font color='{color_wr}'>your text here</font> 
        
        Related to personal rating scale:
       <font color='{color_pr}'>your text here</font> 
        
        Related to battle amount scale:
       <font color='{color_bt}'>your text here</font> 
       
   *To change font face
   		<font face='Consolas'>your text here</font>
   		
   		Example fonts are 
   		
   		Consolas
   		Lucida Console
   		ZurichCond
   		ZurichCondBold
   		Tahoma
   		PartnerCondensed
   		PartnerLightCondensed
   		UniversCondC
   	
   *To change font size
   		<font size='10'>your text here</font>
   		<font size='12'>your text here</font>
       
   *Pretty number examples
       	1)
       		panels_bt_divisor 1000
  			panels_bt_decimals 0
  			panels_pr_divisor 1
  			panels_pr_decimals 0
  			panels_wr_decimals 0
  			panels_wr_divisor 1
  			
  			Supposing a player has {bt}=12345 battles, then show "12"
  			Supposing a player has {pr}=12345 personal rating, then show "12345"
  			Supposing a player has {wr}=56,74 winrate, then show "56"
  		
  		2)	
  			panels_bt_divisor 100
  			panels_bt_decimals 1
  			panels_pr_divisor 1000
  			panels_pr_decimals 2
  			panels_wr_decimals 1
  			panels_wr_divisor 1
  			
  			Supposing a player has {bt}=12345 battles, then show "123,4"
  			Supposing a player has {pr}=12345 personal rating, then show "1,23"
  			Supposing a player has {wr}=56,78 winrate, then show "56,8"
  		
  		
        
   -->
  
  <pluginEnable>true</pluginEnable>
  <reloadConfigKey>KEY_NUMPAD5</reloadConfigKey>
  
  
  
  <!-- ********************************************
       ***********  general settings ************** 
       ******************************************** -->
  <!-- wot server region -->
  <region>eu</region> <!--com, ru, eu -->   
  <pr_index>global_rating</pr_index>
  <lang_index>client_language</lang_index>
  <wr_index>statistics.all.wins</wr_index>
  <battles_index>statistics.all.battles</battles_index>
  <application_id>demo</application_id> 
  <url><![CDATA[http://api.worldoftanks.{region}/wot/account/info/?application_id={application_id}&fields={pr_index},{lang_index},{wr_index},{battles_index}&account_id={id}]]></url>
  
  <!-- minimum time between each stat request -->
  <delay>1</delay> 
  
  <!-- maxinum entries updated each stat request -->
  <maxentries>3</maxentries>  
  
  <!-- enable the mod for cw -->
  <cw>false</cw> <!-- true or false --> 
  
  <!-- folder where you placed flags -->
  <flags_folder>scripts/client/plugins/Statistics_plugin/flags</flags_folder>
  
  <!-- folder where you placed rating images -->
  <rating_folder>scripts/client/plugins/Statistics_plugin/ratings</rating_folder>
  
  <!-- font color to assign to content between {ifdeath_color_begin}..{ifdeath_color_end} in case of death tanks -->
  <death_font_color>#2B2323</death_font_color>
  
  <!-- font color to assign to content between {ifcompatriot_color_begin}..{ifcompatriot_color_end} in case of compatriots -->
  <compatriot_font_color>#2B2323</compatriot_font_color>
  
  
  
  <!-- ********************************************
       ******  left and right playerspanel ******** 
       ******************************************** -->
  <panels_enable>true</panels_enable>
  <!-- html for left panel(first column) --> 
  <left><![CDATA[<font color='#{color_pr}'>{lang}</font>  {player_name}<font color='#877f7f'>{clan_name}</font><br/>]]></left><!-- {lang} {color_pr}{color_bt}{color_wr} {player_name}{clan_name}{tank_name} {pr}{wr}{bt} {flag_url} {rating_url_pr}{rating_url_wr}{rating_url_bt}-->  
  
  <!-- html for right panel(first column) -->   
  <right><![CDATA[<font color='#{color_pr}'>{lang}</font>  {player_name}<font color='#877f7f'>{clan_name}</font><br/>]]></right><!-- {lang} {color_pr}{color_bt}{color_wr} {player_name}{clan_name}{tank_name} {pr}{wr}{bt} {flag_url} {rating_url_pr}{rating_url_wr}{rating_url_bt}-->     
  
  <!-- html for left panel(second column) --> 
  <left_2><![CDATA[{tank_name}<br/>]]></left_2>  <!-- {lang} {color_pr}{color_bt}{color_wr} {player_name}{clan_name}{tank_name} {pr}{wr}{bt} {flag_url} {rating_url_pr}{rating_url_wr}{rating_url_bt}-->  
  
  <!-- html for right panel(second column) -->   
  <right_2><![CDATA[{tank_name}<br/>]]></right_2>  <!-- {lang} {color_pr}{color_bt}{color_wr} {player_name}{clan_name}{tank_name} {pr}{wr}{bt} {flag_url} {rating_url_pr}{rating_url_wr}{rating_url_bt}-->  
  
  
  <!-- pretty number formatting options -->
  <panels_bt_divisor>1000</panels_bt_divisor>
  <panels_bt_decimals>0</panels_bt_decimals>
  <panels_pr_divisor>1</panels_pr_divisor>
  <panels_pr_decimals>0</panels_pr_decimals>
  <panels_wr_decimals>0</panels_wr_decimals>
  <panels_wr_divisor>1</panels_wr_divisor>
  
  
  
  <!-- ********************************************
       *********  rating on chat name ************* 
       ******************************************** -->
  <chat_enable>true</chat_enable>
  <!-- html replacing the current player full name --> 
  <chat><![CDATA[<font color='#{color_wr}'>{wr}%</font><font color='#F2F3F8'>|</font><font color='#{color_pr}'>{pr}</font>  {player_name}<font color='#877f7f'>{clan_name}</font>]]></chat> <!-- {lang} {player_name}{clan_name}{tank_name} {pr}{wr}{bt} {flag_url} {rating_url_pr}{rating_url_wr}{rating_url_bt}-->
  
  <!-- pretty number formatting options -->
  <chat_bt_divisor>1000</chat_bt_divisor>
  <chat_bt_decimals>0</chat_bt_decimals>
  <chat_pr_divisor>1</chat_pr_divisor>
  <chat_pr_decimals>0</chat_pr_decimals>
  <chat_wr_decimals>0</chat_wr_decimals>
  <chat_wr_divisor>1</chat_wr_divisor>
  
  
  
  <!-- ********************************************
       *********  marker on every tank ************ 
       ******************************************** -->
  <marker_enable>true</marker_enable> 
  <!-- html replacing the current player full name --> 
  <marker><![CDATA[<img src='{rating_url_pr}' width='16' height='12'> {player_name}]]></marker> <!-- {lang} {player_name}{clan_name}{tank_name} {pr}{wr}{bt} {flag_url} {rating_url_pr}{rating_url_wr}{rating_url_bt}-->
  
  <!-- pretty number formatting options -->
  <marker_bt_divisor>1000</marker_bt_divisor>
  <marker_bt_decimals>0</marker_bt_decimals>
  <marker_pr_divisor>1</marker_pr_divisor>
  <marker_pr_decimals>0</marker_pr_decimals>
  <marker_wr_decimals>0</marker_wr_decimals>
  <marker_wr_divisor>1</marker_wr_divisor>
  
   
  
  <!-- ********************************************
       ********  info on battle loading *********** 
       ******************************************** -->
  <battle_loading_enable>true</battle_loading_enable>
  <battle_loading_string_left><![CDATA[<font face='Consolas' size='10'><font color='#{color_wr}'>{wr}%</font> <font color='#{color_pr}'>{pr}</font></font>  {player_name}<font color='#877f7f'>{clan_name}</font>]]></battle_loading_string_left> <!-- {lang} {player_name}{clan_name}{tank_name} {pr}{wr}{bt} {flag_url} {rating_url_pr}{rating_url_wr}{rating_url_bt}-->
  <battle_loading_string_right><![CDATA[{player_name}<font color='#877f7f'>{clan_name}</font>  <font face='Consolas' size='10'><font color='#{color_wr}'>{wr}%</font> <font color='#{color_pr}'>{pr}</font></font>]]></battle_loading_string_right>   <!-- {lang} {player_name}{clan_name}{tank_name} {pr}{wr}{bt} {flag_url} {rating_url_pr}{rating_url_wr}{rating_url_bt}-->
  
  <!-- pretty number formatting options -->
  <battle_loading_bt_divisor>1000</battle_loading_bt_divisor>
  <battle_loading_bt_decimals>0</battle_loading_bt_decimals>
  <battle_loading_pr_divisor>1</battle_loading_pr_divisor>
  <battle_loading_pr_decimals>0</battle_loading_pr_decimals>
  <battle_loading_wr_decimals>0</battle_loading_wr_decimals>  
  <battle_loading_wr_divisor>1</battle_loading_wr_divisor>
  
  
  
  <!-- ********************************************
       ***************  info on tab *************** 
       ******************************************** -->
  <tab_enable>true</tab_enable>
  
  <!-- html for left tab panel --> 
  <tab_left><![CDATA[<img src='{flag_url}' width='16' height='12'><font face='Consolas' size='10'><font color='#{color_wr}'>{wr}%</font> <font color='#{color_pr}'>{pr}</font></font>  {player_name}<font color='#877f7f'>{clan_name}</font>]]></tab_left><!-- {lang} {player_name}{clan_name}{tank_name} {pr}{wr}{bt} {color_pr}{color_bt}{color_wr} {flag_url} {rating_url_pr}{rating_url_wr}{rating_url_bt}--> 
  
  <!-- html for right tab panel -->   
  <tab_right><![CDATA[{player_name}<font color='#877f7f'>{clan_name}</font>  <font face='Consolas' size='10'><font color='#{color_wr}'>{wr}%</font> <font color='#{color_pr}'>{pr}</font></font><img src='{flag_url}' width='16' height='12'>]]></tab_right><!-- {lang} {player_name}{clan_name}{tank_name} {pr}{wr}{bt} {color_pr}{color_bt}{color_wr} {flag_url} {rating_url_pr}{rating_url_wr}{rating_url_bt}--> 
   
  <!-- html for left tab(second column) --> 
  <tab_left_2>{tank_name}</tab_left_2>  <!-- {lang} {color_pr}{color_bt}{color_wr} {player_name}{clan_name}{tank_name} {pr}{wr}{bt} {flag_url} {rating_url_pr}{rating_url_wr}{rating_url_bt}-->  
  
  <!-- html for right tab(second column) -->   
  <tab_right_2>{tank_name}</tab_right_2>  <!-- {lang} {color_pr}{color_bt}{color_wr} {player_name}{clan_name}{tank_name} {pr}{wr}{bt} {flag_url} {rating_url_pr}{rating_url_wr}{rating_url_bt}-->  
   
  <!-- pretty number formatting options -->
  <tab_bt_divisor>1000</tab_bt_divisor>
  <tab_bt_decimals>0</tab_bt_decimals>
  <tab_pr_divisor>1</tab_pr_divisor>
  <tab_pr_decimals>0</tab_pr_decimals>
  <tab_wr_decimals>0</tab_wr_decimals>
  <tab_wr_divisor>1</tab_wr_divisor>
    
  
  
  <!-- ********************************************
       *********  table on battle loading ********* 
       ******************************************** -->
  <!-- enable all the bars -->
  <table_enable>true</table_enable> <!-- true false -->
  
  <!-- a black background path, the image must be .dds with DXT5 (interpolated alpha) and no MIP maps -->
  <table_texture>scripts/client/plugins/Statistics_plugin/bg.dds</table_texture>
  
  <!-- Background width.
  	   Default table width is 475px, so we make it a bit larger: 500px -->
  <table_width>500</table_width>
  
  <!-- the background height
       Default bar height is 2px, so we make it bigger: 100px -->
  <table_height>100</table_height>
  
  <!--  The first two numbers are the horizontal and vertical positions, the third is the depth sort value. 
        The depth sort value is used to sort between various GUI components with the same parent. The lower numbered components appear on top of higher numbered components. 
        Note that depth values should be kept between 0 and 1, since some video cards will automatically clip away triangles with z-values outside this range, even if the z-buffer is disabled.
        x = screen width
        y = screen height-->
  <table_position>(x/2-500/2, y/8-100/2, 1)</table_position> <!-- (x,y,z) -->
  
  <!-- This attribute determines what operation is used to render the icons onto the background.
        Possible values are ADD, BLEND, BLEND_COLOUR, BLEND_INVERSE_COLOUR, SOLID, MODULATE2X, ALPHA_TEST, BLEND_INVERSE_ALPHA, BLEND2X, ADD_SIGNED 
        "BLEND", which applies the alpha channel transparency, "SOLID" which ignores the alpha channel and overwrites the background, and "ADD" which just adds the colour to the existing background colour, making the component look like it is transparent -->
  <table_materialFX>BLEND</table_materialFX>
  
  <table_color>(0, 0, 0, 255)</table_color> <!-- (R,G,B,A) -->
  
  <!-- a background path, the image must be .dds with DXT5 (interpolated alpha) and no MIP maps -->
  <table_bars_texture>system/maps/col_white.dds</table_bars_texture>
  
  <!-- the bars width -->
  <table_bars_width>70</table_bars_width>
  
  <!-- the bars height -->
  <table_bars_height>2</table_bars_height>
  
  <!--  The first two numbers are the horizontal and vertical positions, the third is the depth sort value. 
        The depth sort value is used to sort between various GUI components with the same parent. The lower numbered components appear on top of higher numbered components. 
        Note that depth values should be kept between 0 and 1, since some video cards will automatically clip away triangles with z-values outside this range, even if the z-buffer is disabled.
        x = screen width
        y = screen height -->
  <table_bars_position>(x/2-(100*4+70)/2,y/8,0)</table_bars_position> <!-- (x,y,z) -->
  
  <!-- distance between bars -->
  <table_bars_delta>100</table_bars_delta>
  
  <!-- font used in bars label -->
  <table_bars_font>default_small.font</table_bars_font> <!-- verdana_small.font  verdana_mediumverdana_small.font  system_tinyverdana_small.font  system_smallverdana_small.font  system_mediumverdana_small.font  system_large.font  hpmp_panel.font  default_smaller.font  default_small.font  default_medium.font -->
  
  <!-- This attribute determines what operation is used to render the icons onto the background.
        Possible values are ADD, BLEND, BLEND_COLOUR, BLEND_INVERSE_COLOUR, SOLID, MODULATE2X, ALPHA_TEST, BLEND_INVERSE_ALPHA, BLEND2X, ADD_SIGNED 
        "BLEND", which applies the alpha channel transparency, "SOLID" which ignores the alpha channel and overwrites the background, and "ADD" which just adds the colour to the existing background colour, making the component look like it is transparent -->
  <table_bars_materialFX>SOLID</table_bars_materialFX> <!-- ADD SOLID -->
  
  <!-- color of bars, first item is the left part(ally) while the second is the right part(enemy) -->
  <table_bars_color>
  	<item>(100, 255, 0, 100)</item> <!-- (R,G,B,A) -->
  	<item>(255, 50, 50, 100)</item> <!-- (R,G,B,A) -->
  </table_bars_color>
  
  <!-- another textfield used to show tan types on left -->
  <table_bars_tankType_show>false</table_bars_tankType_show> <!-- true false -->
    
  <!-- show the label -->
  <table_bars_label_show>true</table_bars_label_show> <!-- true false -->
  
  <!-- text shown in the label, near each bar -->
  <lightTank>LT</lightTank>
  <mediumTank>MT</mediumTank>
  <heavyTank>HT</heavyTank>
  <SPG>SPG</SPG>
  <AT-SPG>TD</AT-SPG>
  
  <!-- text shown in the label, near each bar 
  	The color formatting work different from html, here you define the "starting color" with no end.
  	{ally_color} = green
  	{sep_color} = white
  	{enemy_color} = red
  	-->
  <table_bars_label>{ally_color}{ally}{sep_color} {tank_type} {enemy_color}{enemy}</table_bars_label>
  
  <!-- Set the label position. Valid variables are:
  barX = x position of bar
  barY = y position of bar
  barZ = z position of bar
  barWidth = bar width
  barHeight = bar height -->
  <table_bars_label_pos>(barX+barWidth/2-20, barY-barHeight-15, barZ)</table_bars_label_pos><!-- (x,y,z) -->
  
  <!-- show bars vertically or horizontally aligned -->
  <table_bars_align>horizontal</table_bars_align> <!-- horizontal vertical -->
  
  
  
  <!-- ********************************************
       *********  stars on battle loading ********* 
       ******************************************** -->
  <!-- enable/disable stars on battleloading -->
  <stars_enable>true</stars_enable><!-- true/false -->
  
  <!--  The first two numbers are the horizontal and vertical positions, the third is the depth sort value. 
        The depth sort value is used to sort between various GUI components with the same parent. The lower numbered components appear on top of higher numbered components. 
        Note that depth values should be kept between 0 and 1, since some video cards will automatically clip away triangles with z-values outside this range, even if the z-buffer is disabled.
        x = screen width
        y = screen height -->
  <stars_position>(x/2-70,y-20,0)</stars_position><!-- (x,y,z) -->
  
  <!-- distance between each star -->
  <stars_delta>30</stars_delta>
  
  <!-- stars image size -->
  <stars_size>16 16</stars_size>
  
  <stars_activePath>scripts/client/plugins/Statistics_plugin/stars/active.dds</stars_activePath>
  <stars_inactivePath>scripts/client/plugins/Statistics_plugin/stars/inactive.dds</stars_inactivePath>
  
  
  
  <!-- ********************************************
       *****  win changes on battle loading ******* 
       ******************************************** -->
  <win_chance_enable>true</win_chance_enable>
  <win_chance_text><![CDATA[<br/><br/> Chance for win: <font color='{color}'>{win_chance}%</font>]]></win_chance_text><!-- {color} {win_chance} -->
  
  <!-- formula used to calculate win chance.
       original was : ally_balance_weight/enemy_balance_weight -->
  <win_chance_formula>math.tan(2.214 * (ally_balance_weight/(ally_balance_weight+enemy_balance_weight) - 0.5) )/4 + 0.5</win_chance_formula><!-- must return number between 0 and 1 -->
  
  
  
  <!-- ********************************************
       ***************  powerbar ****************** 
       ******************************************** -->
  <powerbar_enable>true</powerbar_enable>  
  
  <!-- powerbar's background texture, the image must be .dds with DXT5 (interpolated alpha) and no MIP maps
       If it is set to an empty string then the component will be invisible -->
  <powerbar_texture>system/maps/col_white.dds</powerbar_texture> 
  
  <!-- powerbar's width, in pixel  -->
  <powerbar_width>200</powerbar_width> 
  
  <!-- powerbar's height, in pixel  -->
  <powerbar_height>5</powerbar_height>
  
  <!--  The first two numbers are the horizontal and vertical positions, the third is the depth sort value. 
        The depth sort value is used to sort between various GUI components with the same parent. The lower numbered components appear on top of higher numbered components. 
        Note that depth values should be kept between 0 and 1, since some video cards will automatically clip away triangles with z-values outside this range, even if the z-buffer is disabled.
        x = screen width
        y = screen height -->
  <powerbar_position>(x/2-100,y/10 - 50,0.7)</powerbar_position> <!-- (x,y,z) -->
  
  <!-- This attribute is the colour of the bar. 
       This colour is a Vector4, with components ranging between 0 and 255. The components are (Red, Green, Blue, Alpha). 
       The numbers are scaled to the 0-1 range, and then each pixel's colour (also in the 0-1 range) is multiplied by the colour. 
       Items are left and right powerbar's portions -->
  <powerbar_colors>
  	<item>(100, 255, 0, 100)</item> <!-- (R,G,B,A) -->
  	<item>(255, 50, 50, 100)</item> <!-- (R,G,B,A) -->
  </powerbar_colors>  
  
  <!-- This attribute determines what operation is used to render the icons onto the background.
        Possible values are ADD, BLEND, BLEND_COLOUR, BLEND_INVERSE_COLOUR, SOLID, MODULATE2X, ALPHA_TEST, BLEND_INVERSE_ALPHA, BLEND2X, ADD_SIGNED 
        "BLEND", which applies the alpha channel transparency, "SOLID" which ignores the alpha channel and overwrites the background, and "ADD" which just adds the colour to the existing background colour, making the component look like it is transparent -->
  <powerbar_materialFX>ADD</powerbar_materialFX>
  
  <!-- This attribute specifies the path to the font file that is used to render the text. Assigning to it causes the new font file to be loaded. If an invalid file is specified, then a Python Error occurs. 
        By convention, font files are stored in the fonts subdirectory. They are an xml file describing which image to obtain the characters from, and the size and location of each character. 
        The default font is default_medium.font". -->
  <powerbar_font>default_medium.font</powerbar_font> <!-- verdana_small.font  verdana_mediumverdana_small.font  system_tinyverdana_small.font  system_smallverdana_small.font  system_mediumverdana_small.font  system_large.font  hpmp_panel.font  default_smaller.font  default_small.font  default_medium.font -->
     
  
  
  <!-- ********************************************
       ******  personal rating color scale ******** 
       ******************************************** -->
  <!-- add entries(levels) as you wish 
       min = minimum personal rating to be in the current level 
       color = level's related hexadecimal color code  
       image = level's related image path -->
  <colors_pr>
     <level>
         <min>0</min>
         <color>FE0E00</color>
         <image>black.png</image>
     </level>
	  <level>
         <min>2020</min>
         <color>FE7903</color>
         <image>red.png</image>
     </level>
     <level>
         <min>4185</min>
         <color>F8F400</color>
         <image>yellow.png</image>
     </level>
     <level>
         <min>6340</min>
         <color>60FF00</color>
         <image>green.png</image>
     </level>
     <level>
         <min>8525</min>
         <color>02C9B3</color>
         <image>light-blue.png</image>
     </level>
     <level>
         <min>9930</min>
         <color>D042F3</color>
         <image>blue.png</image>
     </level>
     <level>
         <min>11000</min>
         <color>490A59</color>
         <image>purple.png</image>
     </level>
  </colors_pr>
  
  
  
  <!-- ********************************************
       ********** win rate color scale ************ 
       ******************************************** -->
  <!-- add entries(levels) as you wish 
       min = minimum winrate to be in the current level 
       color = level's related hexadecimal color code 
       image = level's related image path -->
  <colors_wr>
     <level>
         <min>0</min>
         <color>FE0E00</color>
         <image>black.png</image>
     </level>
	  <level>
         <min>40</min>
         <color>FE7903</color>
         <image>red.png</image>
     </level>
     <level>
         <min>48</min>
         <color>F8F400</color>
         <image>yellow.png</image>
     </level>
     <level>
         <min>53</min>
         <color>60FF00</color>
         <image>green.png</image>
     </level>
     <level>
         <min>55</min>
         <color>02C9B3</color>
         <image>light-blue.png</image>
     </level>
     <level>
         <min>58</min>
         <color>D042F3</color>
         <image>blue.png</image>
     </level>
     <level>
         <min>61</min>
         <color>490A59</color>
         <image>purple.png</image>
     </level>
  </colors_wr>
  
  
  
  <!-- ********************************************
       ****  battle amount rating color scale ***** 
       ******************************************** -->
  <!-- add entries(levels) as you wish 
       min = minimum battles to be in the current level 
       color = level's related hexadecimal color code 
       image = level's related image path -->
  <colors_bt>
     <level>
         <min>0</min>
         <color>FE0E00</color>
         <image>black.png</image>
     </level>
	  <level>
         <min>2000</min>
         <color>FE7903</color>
         <image>red.png</image>
     </level>
     <level>
         <min>8000</min>
         <color>F8F400</color>
         <image>yellow.png</image>
     </level>
     <level>
         <min>15000</min>
         <color>60FF00</color>
         <image>green.png</image>
     </level>
     <level>
         <min>22000</min>
         <color>02C9B3</color>
         <image>light-blue.png</image>
     </level>
     <level>
         <min>26000</min>
         <color>D042F3</color>
         <image>blue.png</image>
     </level>
     <level>
         <min>32000</min>
         <color>490A59</color>
         <image>purple.png</image>
     </level>
  </colors_bt>
</config.xml>