<config.xml>

  <!-- If false the plugin will not be loaded -->
  <pluginEnable>true</pluginEnable>      <!-- boolean -->
  
  <reloadConfigKey>KEY_NUMPAD1</reloadConfigKey>
  
  <!-- Max amount of active arrows -->
  <maxArrows>3</maxArrows>                <!-- integer -->
  
  <!-- Max arrow active time before delete it -->
  <maxArrowTime>60</maxArrowTime>         <!-- integer -->
  
  <!-- first color = target not visible, second color = target visible -->
  <colors>red purple</colors>             <!-- red / purple / green -->
  
  <!-- Delete the arrow if the target enemy go unspotted  -->
  <delIfUnspotted>true</delIfUnspotted>   <!-- boolean -->
  
  <!-- Delete the arrow if the enemy go away from your draw range -->
  <delIfNotVisible>false</delIfNotVisible><!-- boolean -->
  
  <!-- Delete the arrow if the enemy die -->
  <delIfDeath>true</delIfDeath>           <!-- boolean -->
  
  
  <!-- Configuration to use wot original swf file
  <setVName>false</setVName>
  <swf_path>gui/scaleform</swf_path>
  <swf_file_name>DirectionIndicator.swf</swf_file_name>
  <flash_class>WGDirectionIndicatorFlash</flash_class>
  <flash_mc_name>directionalIndicatorMc</flash_mc_name>
  <flash_size>680 680</flash_size> 
  -->
  <setVName>true</setVName>                               <!-- boolean -->
  <swf_path>scripts/client/plugins/Focus_plugin</swf_path>               <!-- string -->
  <swf_file_name>Dir_Indicator.swf</swf_file_name>        <!-- string -->
  <flash_class>WGDirectionIndicatorFlash</flash_class>    <!-- string -->
  <flash_mc_name>directionalIndicatorMc</flash_mc_name>   <!-- string -->
  <flash_size>680 680</flash_size>                        <!-- integer integer -->
   
  <heightMode>PIXEL</heightMode>                          <!-- PIXEL / PERCENT -->
  <widthMode>PIXEL</widthMode>                            <!-- PIXEL / PERCENT -->
  <relativeRadius>0.5</relativeRadius>                    <!-- floating point -->
  <moveFocus>false</moveFocus>                            <!-- boolean -->
  <focus>false</focus>                                    <!-- boolean -->
  <scaleMode>NoScale</scaleMode>                          <!-- string -->
  <backgroundAlpha>0.0</backgroundAlpha>                  <!-- floating point -->
    
</config.xml>
