<config.xml>

  <pluginEnable>true</pluginEnable>
  
  <NextModel>KEY_ADD</NextModel>
  
  <PrevModel>KEY_BACKSPACE</PrevModel>
  
  <SaveModel>KEY_NUMPADENTER</SaveModel>
  
  <BlockMoving>KEY_NUMPAD5</BlockMoving>
  
  <RotateLeft>KEY_NUMPAD4</RotateLeft>
  
  <RotateRight>KEY_NUMPAD6</RotateRight>
  
  <IncreaseAltitude>KEY_NUMPAD8</IncreaseAltitude>
  
  <DecreaseAltitude>KEY_NUMPAD2</DecreaseAltitude>
  
  <RotationTick>0.2</RotationTick>
  
  <AltitudeTick>0.5</AltitudeTick>
  
</config.xml>